.images {
    width: 240px;
    aspect-ratio: 1 / 1;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;
}

.images:hover {
  transform: scale(1.1);
}

@media (max-width: 360px) {
  .images {
    width: 150px;
}
}